*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik,sans-serif;
}
.contractUs-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    padding: 30px;
}
.contractUs-heading {
    width: 720px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contractUs-heading h1{
    margin-bottom: 20px !important;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    display: block;
    line-height: 33px;
    color: #000;
}
.contractUs-heading p{
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    max-width: 1000px;
    width: 100%;
    margin: auto !important;
    color: #555555;
}
.input-container{
    width: 100%;
    max-width: 720px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap:20px;

}


.input-field input, textarea{
    width: 100%;
    font-size: 14px;
    border-radius: 5px;
    padding: 15px 10px;
    border: 1px solid #39404a;
}
.input-field input:hover, textarea:hover{
    border: 1px solid #C92127 ;
}


.input-field{
    border-radius: 5px;
    outline: none;
    width: 100%;
    border: none;
    outline: none;
    display: relative;
}


button{
    max-width: 200px;
    width: 100%;
    background: #09b409;
    color: #fff;
    border-radius: 5px;
}
button:hover{
    background: #09b409;

}
.error-msg{
    font-size: 12px;
    color: red;
    margin: 2px 5px;
    position: absolute;
    
}
/* material input area test */
.input-field-container{
    width: 720px;
    margin: 8px 0px;
}
.input-area{
    position: relative;
    height: 40px;
    line-height: 40px;
}
.input-area input{
    position: absolute;
    width: 100%;
    outline: none;
    padding: 0 15px;
    line-height: 40px;
    font-size: 1.1rem;
    border-radius: 5px;
    border: 1px solid #555555;
    background: transparent;
    transition: 0.1s ease;
    z-index: 1111;
    
}
.labeline{
    position: absolute;
    font-size: .9rem;
    color: #555555;
    padding: 0px 5px;
    margin: 0 20px;
    background-color: white;
    transition: .2s ease;
    display: flex;
    flex-direction: row;
    gap: 2px;
}
.red{
    visibility: hidden;
}
.input-area input:focus, .input-area input:valid{
    color: #C92127;
    border: 2px solid #C92127;
}

.input-area input:focus+.labeline, .input-area input:valid+.labeline{
    /* color: #C92127; */
    height: 30px;
    line-height: 30px;
    transform: translate(-15px, -16px) scale(0.78);
    z-index: 1111;
    .red{
        color: #C92127;
        visibility: visible;
        transition: .1s ease;
    }
}